header {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 25px;
}
h3 {
    margin: 0px;
    font-style: bold;
}
#imglogo {
    width: 35px;
}
.textos-link {
   text-align: center;
}

.texto-principal {
    text-align: center;
}
.coluna {
    width: 100%;
    float: left;
}

@media (min-width: 800px) {
    .coluna {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .coluna {
        width: 25%;
    }
}

footer {
    text-align: center;
}

.textoh4 {
    text-align: center;
}
.imagemcentro {
    display: flex;
    justify-content: center;
}