.imagemtitulo {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 25px;
}
h3 {
    margin: 0px;
    font-style: bold;
}
#imglogo {
    width: 35px;
}
.textos-link {
   text-align: center;
   background: rgb(255,0,0);
   background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(232,255,0,1) 79%);
}

.texto-principal {
    text-align: center;
}
.coluna {
    width: 100%;
    float: left;
}

@media (min-width: 800px) {
    .coluna {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .coluna {
        width: 25%;
    }
}
.espaco {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px;
}

footer {
    text-align: center;
}

.textoh4 {
    text-align: center;
}
.textoCentro {
    text-align: center;
}
.imagemcentro {
    display: flex;
    justify-content: center;
}